# General filetypes
*.backup.gui
*.blend*
*.cha
*.dll
*.dmp
*.dso
*.dylib
*.exe
*.exp
*.hop
*.i64
*.id0
*.id1
*.id2
*.ilk
*.lib
*.lo
*.log
*.nam
*.o
*.ogv
*.orig
*.pak
*.pdb
*.Plo
*.Po
*.so
*.sublime*
*.tar
*.tgz
*.til
*.tlog
*.torsion.*
*.xcuserdatad
*.idb
*.mis.cache
*.db

# Filenames
banlist.cs
banlist.txt
clipboard.gui
config.cs
Contents
lbprefs.cs
Makefile
mbpPrefs.cs
newObject.cs
prefs.cs
redundancycheck.cs
screenshot_*.png
testMission.mis
WEprefs.cs
DeleteDSOs.bat